@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #000;
  background: #f3f4f6;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

#root {
  position: relative;
  display: flex;
  background: #fff;
  max-width: none;
  width: calc(100% - 48px);
  border-radius: 30px;
  margin: 60px 24px 40px;
  box-shadow: 15px 10px 25px 0px #0000003b;
  animation: open 0.5s ease;
}

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
